a.out
a.out.dSYM
a.out.dSYM/*
minirt
.DS_Store
libft.a
*.o
test*
ressources/
essai.c
essai
libft/main.c
libft/a.out
# test*.c
valgrind-out.txt
ressource.c
*.swp
result*
bmp_saved/minirt*
keycode.h
debug*